# Pandas Tutorial

In [2]:
import pandas as pd 
import numpy as np

In [2]:
# string 
country = ["india", "nepal", "bangladesh", "srilanka"]
country

['india', 'nepal', 'bangladesh', 'srilanka']

In [3]:
# seies
pd.Series(country)

0         india
1         nepal
2    bangladesh
3      srilanka
dtype: object

In [4]:
# integers 
runs = [23, 45, 87, 90, 123]
pd.Series(runs)

0     23
1     45
2     87
3     90
4    123
dtype: int64

In [5]:
# custom Index 
number = [23, 43, 25, 89]
subject = ["English", "Hindi", "Chemestry", "Physics"]
pd.Series(number, index=subject)

English      23
Hindi        43
Chemestry    25
Physics      89
dtype: int64

In [7]:
# include the name 
marks = pd.Series(number,index=subject, name="manish 10th school marks" )
marks

English      23
Hindi        43
Chemestry    25
Physics      89
Name: manish 10th school marks, dtype: int64

## Series from Dictionary

In [13]:
marks = {
    "math":12,
    "english":30,
    "hindi":120,
    "science":320
}
marks_series = pd.Series(marks, name='manish marks')
marks_series

math        12
english     30
hindi      120
science    320
Name: manish marks, dtype: int64

In [10]:
# size 
marks_series.size

4

In [11]:
marks_series.dtype

dtype('int64')

In [14]:
marks_series.name

'manish marks'

In [15]:
# is_unique
marks_series.is_unique

True

In [16]:
marks_series.index

Index(['math', 'english', 'hindi', 'science'], dtype='object')

In [17]:
marks_series.values

array([ 12,  30, 120, 320], dtype=int64)

## series with read csv

In [5]:
d = pd.read_csv('C:\\Users\\Mandhata Kumar\\Machine_Learning\\Pandas\\subs.csv')
d

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [6]:
type(d) # this data is dataFrame not series

pandas.core.frame.DataFrame

In [9]:
# convert dataframe to squeeze 
series_data = d.squeeze("columns")
series_data

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [10]:
# convert dataframe to squeeze 
series_data = d.squeeze("index")
series_data

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [4]:
virat_data = pd.read_csv("C:\\Users\\Mandhata Kumar\\Machine_Learning\\Pandas\\kohli_ipl.csv", index_col="match_no")
virat_data = virat_data.squeeze("columns")
virat_data

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [7]:
movie_data = pd.read_csv("C:\\Users\\Mandhata Kumar\\Machine_Learning\\Pandas\\bollywood.csv", index_col="movie")
movie_data = movie_data.squeeze("columns")
movie_data

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

## series method

In [8]:
# head and tail method 
virat_data.head(10)

match_no
1      1
2     23
3     13
4     12
5      1
6      9
7     34
8      0
9     21
10     3
Name: runs, dtype: int64

In [9]:
virat_data.tail(10)

match_no
206     0
207     0
208     9
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [19]:
# sample 
movie_data.sample(10)

movie
Shabd (film)                        Sanjay Dutt
Love Games (film)              Patralekhaa Paul
Hava Aney Dey                 Aniket Vishwasrao
Kushti (film)                      Rajpal Yadav
Saaho                      Jacqueline Fernandez
Jism (2003 film)                   Bipasha Basu
Machhli Jal Ki Rani Hai           Swara Bhaskar
Ek Main Aur Ekk Tu               Kareena Kapoor
Judwaa 2                           Varun Dhawan
Johnny Gaddaar                       Dharmendra
Name: lead, dtype: object

In [20]:
# value count 
movie_data.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [22]:
# sort values 
virat_data.sort_values(ascending=False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [26]:
# how to calculate max runs of virt kohli 
virat_data.sort_values(ascending=False).head(1).values[0]

113

In [31]:
virat_data_one = virat_data.copy()
virat_data_one

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [32]:
# if you replace the value of main data 
virat_data_one.sort_values(inplace=True)

In [33]:
virat_data_one

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [35]:
# sort_index
movie_data = movie_data.sort_index(ascending=True)
movie_data

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

## series math method

In [36]:
# count 
virat_data.count()

215

In [38]:
# method 
virat_data.size

215

In [39]:
# total run calculate of virat 
virat_data.sum()

6634

In [40]:
# multiply 
virat_data.product()

0

In [44]:
# mean, median, mode, std, var 
print(virat_data.mean())   # average run of viral kohli
print(virat_data.median())  # The median, in statistics, represents the middle value of a given list of data when arranged in orde
print(movie_data.mode())   # kon sa acter sabse jayada movie banaya hai
print(virat_data.std())
print(virat_data.var())

30.855813953488372
24.0
0    Akshay Kumar
Name: lead, dtype: object
26.22980132830278
688.0024777222344

In [46]:
# min/max 
virat_data.min()   # min run 
virat_data.max()   # max run

113

In [47]:
# describe 
virat_data.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

## series Indexing

In [48]:
x = pd.Series([12, 13, 14, 15, 16, 17, 18, 19, 20])
x

0    12
1    13
2    14
3    15
4    16
5    17
6    18
7    19
8    20
dtype: int64

In [49]:
x[1]

13

In [50]:
# negative indexing 
# series are work on positive indexing not negative indexing if index are number but not number string it's work
x[-1]

KeyError: -1

In [51]:
movie_data[-1]

C:\Users\Mandhata Kumar\AppData\Local\Temp\ipykernel_8368\1945918706.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  movie_data[-1]

'Meghan Jadhav'

In [52]:
virat_data[-1]

KeyError: -1

In [53]:
# slicing 
movie_data[:-5]

movie
1920 (film)               Rajniesh Duggall
1920: London                 Sharman Joshi
1920: The Evil Returns         Vicky Ahuja
1971 (2007 film)            Manoj Bajpayee
2 States (2014 film)          Arjun Kapoor
                                ...
Zero (2018 film)            Shah Rukh Khan
Zid (2014 film)             Mannara Chopra
Zila Ghaziabad                Vivek Oberoi
Zinda (film)                   Sanjay Dutt
Zindaggi Rocks                Sushmita Sen
Name: lead, Length: 1495, dtype: object

In [54]:
# fancay indexing 
virat_data[[1, 3, 6]]

match_no
1     1
3    13
6     9
Name: runs, dtype: int64

In [59]:
# indexing with labels 
movie_data['Zero (2018 film)']

'Shah Rukh Khan'