# Pandas Tutorial

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# string 
country = ["india", "nepal", "bangladesh", "srilanka"]
country

['india', 'nepal', 'bangladesh', 'srilanka']

In [3]:
# seies
pd.Series(country)

0         india
1         nepal
2    bangladesh
3      srilanka
dtype: object

In [4]:
# integers 
runs = [23, 45, 87, 90, 123]
pd.Series(runs)

0     23
1     45
2     87
3     90
4    123
dtype: int64

In [5]:
# custom Index 
number = [23, 43, 25, 89]
subject = ["English", "Hindi", "Chemestry", "Physics"]
pd.Series(number, index=subject)

English      23
Hindi        43
Chemestry    25
Physics      89
dtype: int64

In [7]:
# include the name 
marks = pd.Series(number,index=subject, name="manish 10th school marks" )
marks

English      23
Hindi        43
Chemestry    25
Physics      89
Name: manish 10th school marks, dtype: int64

## Series from Dictionary

In [13]:
marks = {
    "math":12,
    "english":30,
    "hindi":120,
    "science":320
}
marks_series = pd.Series(marks, name='manish marks')
marks_series

math        12
english     30
hindi      120
science    320
Name: manish marks, dtype: int64

In [10]:
# size 
marks_series.size

4

In [11]:
marks_series.dtype

dtype('int64')

In [14]:
marks_series.name

'manish marks'

In [15]:
# is_unique
marks_series.is_unique

True

In [16]:
marks_series.index

Index(['math', 'english', 'hindi', 'science'], dtype='object')

In [17]:
marks_series.values

array([ 12,  30, 120, 320], dtype=int64)