In [1]:
print("hello world")

hello world

In [4]:
import pandas as pd 
import numpy as np

In [2]:
# string 
country = ["india", "nepal", "bangladesh", "srilanka"]
country

['india', 'nepal', 'bangladesh', 'srilanka']

In [5]:

pd.Series(country)

0         india
1         nepal
2    bangladesh
3      srilanka
dtype: object